<% link = 'blog' %>
<div class="wrap">
<div id="last-blogs">
<h3><%= t('dc_blog.last_blogs') %></h3>

<% for entry in documents %>
  <div class="entry">
    <span class="date"><%= dc_pretty_date(entry.created_at) %></span>
    <span class="title"><%= link_to( entry.subject, { path: "#{link}/#{entry.link}"} )%></span>
  </div>
<% end %>
</div>
</div>