
<div id="blogs">
<h1><%= t('dc_blog.blogs') %></h1>

<% for document in documents %>
  <div class="entry">
    <div class="date"><%= dc_pretty_date(document.created_at) %></div>
    <div class="title">
      <%= link_to( path: "#{(@options[:path] << document.link).join('/')}" ) do %>
        <h2><%= document.subject %> </h2>
      <% end %>
    </div>
  </div>
<% end %>
</div>
