
<div class="wrap">
  <div id="blogs">
  <h3><%= t('dc_blog.blogs') %></h3>

  <% for document in documents %>
    <div class="entry">
      <div class="date"><%= dc_pretty_date(document.created_at) %></div>
      <div class="title"><%= link_to( document.subject, "#{@page.link}/#{document.link}" )%></div>
    </div>
  <% end %>
  </div>
</div>