<div class="wrap">
<div class="news-title">
  <h1><%= t('dc_news.news') %></h1>
</div>
<%= if session[:edit_mode] > 1 
  dc_link_for_create(controller: 'cmsedit', table: 'dc_news', title: 'dc_blog.new_entry' )
    end %>
<% for entry in entries %>

  <div class="news-entry">
    <h4><%= link_to( entry.subject, { path: 'news', link: entry.link } )%></h4>
        <%= dc_pretty_date(entry.created_at) %>
  </div>
<% end %>
</div>
